body {
  background-color: #f0f0f0;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.container div:not(.teste) {
  flex-basis: 35%;
  height: 40rem;
}

.container .form {
  background: #e9e9e9;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 25px 25px 0px;
}

.container .form form {
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}

.form form h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #fe3f3f;
  text-align: center;
  margin-bottom: 10px;
}
.form form label {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
}

.form form input:not(input[type="file"]) {
  width: 100%;
  height: 30px;
  background: #f4f4f4;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: 0;
  border: 0 none;
}

.form form select {
  width: 100%;
  height: 30px;
  background: #f4f4f4;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: 0;
  border: 0 none;
  font-size: 15px;
  color: #1e1e1e;
  font-family: "Ubuntu";
}

.form form button {
  width: 100%;
  height: 40px;
  border: 0 none;
  background: #fe3f3f;
  cursor: pointer;
  color: white;
  margin-top: 5px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.form form .output {
  height: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .image {
  background: linear-gradient(
      0deg,
      rgba(185, 33, 33, 0.671),
      rgba(240, 76, 76, 0.377)
    ),
    url(https://i.pinimg.com/564x/d5/5e/1b/d55e1be81815be6031f55e5dcc38898c.jpg);
  background-repeat: no-repeat;
  border-radius: 25px 0px 0px 25px;
}

/* list.html */
.container-list {
  padding: 10px;
  color: #fe3f3f;
  font-family: "Ubuntu";
}

.container-list #search{
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: 0 none;
  padding: 5px;
}

.container-list .title{
  display: flex;
  align-items: center;
}

.title button{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: 0px;
  background-color: #fe3f3f;
  margin-left: auto;
}

.title button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu';
}


